*{
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
spam{
    color:red;
    
}
#header{
    width:1200px;
    background-color:cornsilk;
}
#login_but{
    padding:5px;
    float:right;
}
#signup_but{
    padding:5px;
    float:right;
}
label{
    color:rgb(37, 3, 100);
    font-weight: bolder;
}
input{
    margin-top:10px;
    width:100%;
    border:2px solid rgb(7, 106, 145);
    border-radius: 5px;
    padding:5px;
}
input:focus{
    border:2px solid rgb(7, 106, 145);
    outline:0;
}
#sign_con{
    display:flex;
    justify-content: center;
    align-items: center;
}
#signup{
    
    width:300px;  
    
}
div{
    margin-bottom:15px;
}
button{
    width:100%;
    padding:10px;
    border-radius: 5px;
    border:2px solid rgb(7, 106, 145);
    outline:0;
    background-color: rgb(7, 106, 145);
    color:white;
    font-weight: bolder;
}
